.contenedor__body {
    width: 100%;
    height: 2000PX;
    background: #fff;
}

.contenedor__factura {
    margin-top: 8%;
    width: 100%;
    height: 1000px;
}

.titulo__factura {
    width: 80%;
    margin-left: 10%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #97faee;
    border: 1px solid #97faee;
}

.contenedor__factura__1 {
    width: 80%;
    margin-left: 10%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #97faee;
}

.referencia__factura {
    width: 250px;
    height: 80px;
    margin-left: 4%;
    
}

.refe__label {
    width: 100%;
    height: 40%;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.refe__label label {
    margin-left: 5%;
}

.refe__input {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
}

.refe__input input {
    margin: 0 5%;
    width: 100%;
    height: 70%;
    border: 1px solid #000;
    border-radius: 10px;
    padding-left: 5%;
    outline: none;
}

.refe__input input:focus {
    border-color: #00b19d;
}

.refe__input input:not(:placeholder-shown) {
    border-color: #00b19d;
}

.contenedor__tabla {
    margin-left: 10%;
    width: 80%;
    height: 100%;
    border: 1px solid #fff;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
}

th {
    padding: 20px 41.8px;
    background: #a6e5de;
    font-size: 14px;
    border-left: 1px solid white;
}

.id {
    border-left: solid 1px #a6e5de;
}

.edit {
    border-right: solid 1px #a6e5de;
}

.eli {
    color: red;
}

td {
    padding: 20px 20px;
    font-size: 12px;
    border: 1px solid #a6e5de;
    text-align: center;

}

td input {
    width: 100%;
    height: 60%;
    outline: none;
    border: 1px solid #000;
    border-radius: 10px;
    text-align: center;
    padding: 2% 0%;
}

tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background: #ddf8f5;
}

.contenedor__factura__3 {
    margin-left: 10%;
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pago__factu {
    margin-left: 4%;
    width: 15%;
    height: 80%;
}

.pago__label {
    padding-left: 5%;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}

.pago__input {
    padding: 0 5%;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}

.pago__input select {
    padding-left: 3%;
    width: 100%;
    height: 70%;
    border: 1px solid #000;
    border-radius: 10px;
    outline: none;
}

.pago__input select:not(:placeholder-shown) {
    border-color: #00b19d;
}

.direccion {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.generar__venta {
    padding: 5px 10px;
    display: flex;
    background: #00b19d;
    border: 1px solid #00b19d;
    border-radius: 15px;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    transition: .3s;
}

.generar__venta:hover {
    transform: scale(1.1);
}